

<!DOCTYPE html>
<html lang="en">
    <%-include('layouts/header');-%>
    <body>
        <!-- Navigation-->
        <%-include('layouts/navbar');-%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Create New Post</h1>
                            <span class="subheading">Have questions? I have answers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Want to share your thoughts and obsessions to a blog?  Find a picture.  Fill in the title.  Fill in the body.</p>
                        <div class="my-5">
                            <% if(errors2 != null  && errors2.length > 0){%>
                                <ul class="list-group"></ul>
                                <% for(var i=0; i< errors2.length;i++){%>
                                <li class="list-group-item list-group-item-danger"><%= errors2[i]%></li>
                                <%}%>
                                
                                <%}%>


                                <% if(error2 != null){%>
                                    <ul class="list-group"></ul>
                                    
                                    <!--<li class="list-group-item list-group-item-danger"><%= error2%></li>-->
                                    
                                    
                                    <%}%>



                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form id="contactForm" action="/posts/store" method="POST" enctype="multipart/form-data">

                                <div class="form-floating">
                                    <input class="form-control" id="image" type="file" placeholder="Enter your title..." name="image" />
                                    <label for="image">Image</label>
                                    <!--<div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>-->
                                </div>



                                <div class="form-floating">
                                    <input class="form-control" id="title" type="text" placeholder="Enter your title..." name="title" value="<%= title %>" />
                                    <label for="title">Title</label>
                                    <!--<div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>-->
                                </div>
                                
                                <div class="form-floating adjust001">
                                    <div class="adjust002">Body</div>
                                    <textarea class="form-control" id="body" placeholder="Enter your body text here..." style="height: 12rem" name="body"></textarea>
                                    <label for="body"></label>
                                    <!--<div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>-->
                                </div>
                                <br />
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%-include('layouts/footer');-%>
        <%-include('layouts/scripts');-%>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script>
            $('#body').summernote({

                placeholder: 'Hello bootstrap 4',
                tabsize: 2,
                height: 200

           
            });
        </script>
    </body>
</html>





