





<!DOCTYPE html>
<html lang="en">
    <%-include('layouts/header');-%>
    <body>
        <!-- Navigation-->
        <%-include('layouts/navbar');-%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/newuser.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Login</h1>
                            <span class="subheading">Sign in please.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Want to have access? Signin with User Name and Password information on the form.  Thanks.</p>
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->

                            <% if(passwordWrong != null){%>
                                <ul class="list-group"></ul>
                                
                                <li class="list-group-item list-group-item-danger"><%= passwordWrong %></li>
                                
                                
                                <%}%>


                                <% if(usernameNotFound != null){%>
                                    <ul class="list-group"></ul>
                                    
                                    <li class="list-group-item list-group-item-danger"><%= usernameNotFound %></li>
                                    
                                    
                                    <%}%>





                            <form id="contactForm" action="/users/login" method="POST" enctype="multipart/form-data">

                                



                                <div class="form-floating">
                                    <input class="form-control" id="title" type="text" placeholder="User Name" name="username" />
                                    <label for="username">User Name</label>
                                    <!--<div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>-->
                                </div>
                                
                                <div class="form-floating">
                                    <input class="form-control" id="password" type="password" placeholder="Password" name="password" />
                                    <label for="password">Password</label>
                                    <!--<div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>-->
                                </div>

                                <br />
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%-include('layouts/footer');-%>
        <%-include('layouts/scripts');-%>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>







